$primary-blue:#42a4b3;
$secondary-colour:rgb(102, 178, 178);
$light-colour: #ecf0f1;
$gold-colour:rgb(221, 183, 123);
$text-colour: rgb(0, 0, 0);
$nav-bar-colour:rgb(6, 58, 79); 
$dark-blue:#01162d;
$font: 'Montserrat', sans-serif;
$org-hero-colour: #e7f7f8;
